@model IEnumerable<Caso1.Core.Models.Horario>

@{
    ViewData["Title"] = "AdministracionHorario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Administración de Horarios</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Listado de Horarios</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="card">
            <div class="card-header">
                Lista de Horarios Registrados
                <a asp-action="Create" class="btn btn-primary float-end">Nueva Horario</a>
            </div>
            @if (TempData["Mensaje"] != null)
            {
                <div class="alert alert-@TempData["TipoMensaje"] alert-dismissible fade show m-3" role="alert">
                    @TempData["Mensaje"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <div class="card-body">
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            @if (Model.Any())
                            {
                                <th>@Html.DisplayNameFor(model => model.Hora)</th>
                                <th>Acciones</th>
                            }
                            else
                            {
                                <th colspan="5" class="text-center">No hay horarios registrados en el sistema.</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Hora)</td>
                                    <td>
                                        <form asp-action="Delete" asp-route-id="@item.Id" method="post" class="d-inline" onsubmit="return confirm('¿Seguro que deseas eliminar este elemento?');">
                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>


@section Styles {
    <link rel="stylesheet" href="~/Template/vendors/simple-datatables/style.css">
}

@section Scripts {
    <script src="~/Template/vendors/simple-datatables/simple-datatables.js"></script>
    <script>
        // Simple Datatable
        let table1 = document.querySelector('#table1');
        let dataTable = new simpleDatatables.DataTable(table1);
    </script>
}