@using Caso1.Core.Helpers
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Template/css/bootstrap.css">

    @RenderSection("Styles", required: true)

    <link rel="stylesheet" href="~/Template/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/Template/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/Template/css/app.css">
    <link rel="shortcut icon" href="~/Template/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="@Url.Action("Index","Home")"><img src="~/Template/images/logo/logo.png" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <nav class="sidebar-menu" aria-label="Menú principal">
                    <ul class="menu">

                        <li class="sidebar-title">
                            @(User.Identity.IsAuthenticated ? $"Bienvenido, {User.Identity.Name}" : "Acceso")
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="sidebar-item">
                                <a href="@Url.Action("Logout","Usuarios")" class="sidebar-link">
                                    <i class="bi bi-box-arrow-in-right"></i>
                                    <span>Cerrar Sesión</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="sidebar-item">
                                <a href="@Url.Action("Login","Usuarios")" class="sidebar-link">
                                    <i class="bi bi-box-arrow-in-right"></i>
                                    <span>Iniciar Sesión</span>
                                </a>
                            </li>
                        }


                        <li class="sidebar-title">Menú</li>

                        @if (User.TieneRol("Administrador"))
                        {
                            <li class="sidebar-item @(ViewContext.RouteData.Values["Action"]?.ToString() == "Create" ? "is-active" : "")">
                                <a href="@Url.Action("AdministracionUsuario","Usuarios")" class="sidebar-link ">
                                    <i class="bi bi-people-fill"></i>
                                    <span>Usuarios</span>
                                </a>
                            </li>
                        }
                        @* @if (User.TieneRol()) *@
                        @* { *@
                        <li class="sidebar-item has-sub">
                            <a href="#" class="sidebar-link">
                                <i class="bi bi-signpost-split"></i>
                                <span>Rutas</span>
                            </a>
                            <ul class="submenu">
                                <li class="submenu-item @(ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "is-active" : "")">
                                    <a href="@Url.Action("AdministracionRuta","Ruta")">Administración de Rutas</a>
                                </li>
                                <li class="submenu-item @(ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "is-active" : "")">
                                    <a href="@Url.Action("AdministracionParada","Paradas")">Administración de Paradas</a>
                                </li>
                                <li class="submenu-item @(ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "is-active" : "")">
                                    <a href="@Url.Action("AdministracionHorario","Horarios")">Administración de Horarios</a>
                                </li>
                            </ul>
                        </li>
                        @* } *@
                    </ul>
                </nav>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            @RenderBody()

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>@DateTime.Now.Year &copy; Grupo 4</p>
                    </div>
                    <div class="float-end">
                        <p>
                            Plantilla editada por grupo 4. Diseñador original <a href="https://themewagon.com/themes/free-bootstrap-5-html5-admin-dashboard-template-mazer/" target="_blank">Mazer-ThemeWagon</a>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/Template/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/Template/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: true)

    <script src="~/Template/js/main.js"></script>
</body>

</html>